
.root {
    position: relative;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: hidden;
    min-height: 100%;
    padding-top: 100px;

    h1 {
        text-align: center;
        position: relative;
        color: rgb(41, 45, 254);

    }
}