
.liComponents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 100px;
    font-size: 20px; 
    box-sizing: border-box;
    padding: 0px 2px;
    // padding-right: 10px;

}

.liComponents:hover {
    color: rgb(252, 223, 223);
    border: solid #D0C88E 1px;
    height: 21.5px;
    font-size: 20px;

}

.iconMobile {
    display: none;
    }

@media (max-width: 725px) {
    .iconPc {
        display: none;
    }
}


@media (max-width: 725px) {
    .iconMobile {
        display: unset;
    }
}